[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
uvicorn = "*"
strawberry-graphql = "*"
schema = "*"
openpyxl = "*"
cors = "*"
execute = "*"
fastapi = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
